<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title >video</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="dark">
    <ion-card-header>
      <ion-label class="section-title">Video</ion-label>
    </ion-card-header>
  </ion-card>

  <ion-card color="light">
      <ion-card-content>
          <ion-list *ngIf="videos.length != 0">
              <ion-item *ngFor="let video of videos" class="item item-trns">
                 <div class="title">
                     {{video.title}}
                     <div class="video-container">
                         <iframe width="350" height="350" [src]="getVideo(video.key)" frameborder="0"></iframe>
                     </div>
                     <ion-icon name="logo-youtube"> {{video.name}}</ion-icon>                     
                    </div>
              </ion-item>
            </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
